<div class="left">
      <div class="top1">
         <div class="name">許銘峯</div>
      </div>
      <div class="top2">
        <p>
          <i class="fa fa-briefcase fa-icon"></i>
           Front-End Developer
        </p>
        <p>
           <i class="fa fa-envelope fa-icon" aria-hidden="true"></i>
            ken12034@gmail.com
        </p>
        <p>
         <i class="fa fa-phone fa-icon"></i>
            0922-790-380
        </p>
      </div>
      <div class="top2">
         <p  class="title"><i class="fa fa-asterisk fa-icon"></i>
         專長
         </p>
         <div class="box" ng-repeat="expertise in expertises">
           <span>{{expertise.name}}</span>
           <div class="box-left">
             <p ng-repeat="item in expertise.left" >{{item}}</p>
           </div>
           <div class="box-right">
             <p ng-repeat="item in expertise.right" >{{item}}</p>
           </div>
           <div class="both"></div>
         </div>

      </div>

  </div>
