<div class="right">
    <div class="experience">
       <h4 class="title"><i class="fa fa-suitcase fa-icon" aria-hidden="true"></i> 工作經歷</h4>
       <div class="list">
         <div class="list-item">
           <p>聯合報 聯合數位教育部門 - Front End Developer</p>
           <p> <i class="fa fa-calendar fa-icon" aria-hidden="true"></i>
             104/08~至今</p>
             主要工作內容為維護與優化教育平台-<a class="link" href="https://www.educoco.com" target="_blank">educoco雲端翻轉課堂</a>與協助相關活動網站頁面之開發，
             在網站開發過程中會跟後端溝通進行資料串接，除了系統上開發新功能與優化之外，也喜歡與團隊成員一起討論解決使用者體驗(UX)之相關問題，
             以優化網站的資訊閱讀與功能使用。相關開發功能包含響應式網站架構開發、
             一對一私訊系統、優化動態訊息、後台管理系統。
         </div>
         <div class="list-item">
           <p>上升數位工作室 - Front End Developer </p>
           <p> <i class="fa fa-calendar fa-icon" aria-hidden="true"></i>
           103/12~104/07</p>
           接案子協助客戶開發網站
         </div>
       </div>
    </div>
  </div>

  <div class="right">
    <div class="experience">
       <h4 class="title"><i class="fa fa-graduation-cap fa-icon" aria-hidden="true"></i>學歷</h4>
       <div class="list">
         <div class="list-item">
           <p>國立臺北教育大學 數位科技設計學系含玩具與遊戲碩士班 - 碩士</p>
           <p> <i class="fa fa-calendar fa-icon" aria-hidden="true"></i>
             102~104</p>

         </div>
         <div class="list-item">
           <p>國立臺北教育大學 數位科技設計學系含玩具與遊戲碩士班 - 學士</p>
           <p> <i class="fa fa-calendar fa-icon" aria-hidden="true"></i>
           98~102</p>

         </div>
       </div>
    </div>
  </div>
