<div class="left">
      <div class="top1">
         <div class="name">許銘峯</div>
      </div>
      <div class="top2">
        <p>
          <i class="fa fa-briefcase fa-icon"></i>
           Front-End Developer
        </p>
        <p>
           <i class="fa fa-envelope fa-icon" aria-hidden="true"></i>
            ken12034@gmail.com
        </p>
        <p>
         <i class="fa fa-phone fa-icon"></i>
            0922-790-380
        </p>
      </div>
      <div class="top2">
         <p  class="title"><i class="fa fa-asterisk fa-icon"></i>
         專長
         </p>
         <div class="box">
           <span>程式語言</span>
           <div class="box-left">
             <p>HTML</p>
             <p>CSS3</p>
             <p>javascript</p>
             <p>AngularJS</p>
           </div>
           <div class="box-right">
             <p>jQuery</p>
             <p>ReactJS</p>
             <p>PHP</p>
           </div>
           <div class="both"></div>
         </div>
         <div class="box">
           <span>版本控管</span>
           <div class="box-left">
             <p>svn</p>
           </div>
           <div class="box-right">
             <p>git</p>
           </div>
           <div class="both"></div>
         </div>
         <div class="box">
           <span>開發工具</span>
           <div class="box-left">
             <p>Sublime</p>
           </div>
           <div class="box-right">
             <p>Atom</p>
           </div>
           <div class="both"></div>
         </div>
         <div class="box">
           <span>設計軟體</span>
           <div class="box-left">
             <p>Photoshop</p>
           </div>
           <div class="box-right">
             <p>Illustrator</p>
           </div>
           <div class="both"></div>
         </div>
         <div class="box">
           <span>遊戲開發</span>
           <div class="box-left">
             <p>Unity</p>
           </div>
           <div class="box-right">
             <p>Arduino</p>
           </div>
           <div class="both"></div>
         </div>
      </div>

  </div>
